<h1 class="text-3xl">Pricing Page</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At explicabo veritatis rerum amet id voluptatibus aliquid? Cupiditate maiores consectetur possimus, rem soluta explicabo, consequatur labore, architecto quam expedita cum fuga quasi quisquam suscipit beatae corrupti maxime vero tempore ex voluptatem laboriosam magnam necessitatibus ipsam! Pariatur perspiciatis similique obcaecati hic suscipit quasi quo explicabo libero exercitationem, beatae fuga totam veniam, aliquid cupiditate? Maxime iste sit quia ab quibusdam similique dignissimos, a suscipit! Numquam, quasi reprehenderit, amet illo aliquam dicta harum vitae nesciunt labore ad magnam aperiam totam incidunt facilis optio dolor animi expedita quidem culpa! Saepe assumenda facere corrupti necessitatibus porro.
    </p>
</section>